<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the CSS file -->
</head>
<body>
  <header>
    <h1>The Tech Blog</h1>
   <nav>
  <a href="/">Home</a>
  <a href="/dashboard">Dashboard</a>
  {{#if loggedIn}}
    <form id="logout-form" action="/api/users/logout" method="POST" style="display: inline;">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/login">Login</a>
  {{/if}}
</nav>
  </header>
  
  {{{body}}} <!-- Content from individual pages will be injected here -->
</body>
</html>
