{{!-- Extends the main layout --}}
<h1>Login</h1>

<form id="login-form">
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button type="submit">Log In</button>
</form>

<p>Don't have an account? <a href="/signup">Sign up here</a>.</p>

<script src="/js/login.js"></script>
